parameters:
    webedit:
        gallery:
            directory: %vendor.webedit.directory%/gallery
    locale:
        - %webedit.gallery.directory%/locale
services:
    - WebEdit\Gallery\Repository
    - WebEdit\Gallery\Facade