parameters:
    gallery:
        directory: %vendor.webedit.directory%/gallery
    locale:
        - %gallery.directory%/locale
services:
    - WebEdit\Gallery\Repository
    - WebEdit\Gallery\Facade
    -
        implement: WebEdit\Gallery\Control\Factory
        parameters: [gallery]
        arguments: [%gallery%]