services:
    - WebEdit\Gallery\Repository
    - WebEdit\Gallery\Facade
    -
        implement: WebEdit\Gallery\Control\Factory
        parameters: [gallery]
        arguments: [%gallery%]

    - WebEdit\Gallery\Photo\Repository
    gallery.photo.facade: WebEdit\Gallery\Photo\Facade
    gallery.photo.presenter: WebEdit\Gallery\Photo\Presenter
    -
        implement: WebEdit\Gallery\Photo\Control\Factory
        parameters: [photo]
        arguments: [%photo%]