parameters:
    gallery:
        photo:
            directory: %gallery.directory%/Photo
            cache:
                directory: %public.cache.directory%/gallery/photo
            upload:
                directory: %private.upload.directory%/gallery/photo
            empty:
                image: %gallery.photo.directory%/Presenter/photo.jpg
services:
    - WebEdit\Gallery\Photo\Repository
    - WebEdit\Gallery\Photo\Facade(%gallery.photo%)
    - WebEdit\Gallery\Photo\Presenter(%gallery.photo%)
    -
        implement: WebEdit\Gallery\Photo\Control\Factory
        parameters: [photo]
        arguments: [%photo%]
nette:
    routing:
        routes:
            'cache/gallery/photo[/<id>].jpg':
                module: Gallery:Photo
                presenter: Presenter
                action: view